body{
    width: 100%;
    height: 100vh;
    background: url(gold-silver-balloon-foil-confetti-falling-black-background-d.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.cardx{
    width: 400px;
    height: 300px;
    color: goldenrod;
    text-shadow: 0 0 5px gold;
    text-align: center;
    margin: 100px 700px;
    font-size: 20px;
    font-family: "Oleo Script", sans-serif;
}
#confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.8;
} 
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
    background: linear-gradient(to right, #008000, magenta, gold);
  }
  100% {
    background-position: 100% 50%;
    background: linear-gradient(to right, magenta, gold, #008000);
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal.active {
  display: flex;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}
.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background: url(IMG-20241214-WA0166.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}
.btn{
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 65%;
  right: 25%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background: linear-gradient(to top right,rgb(219, 165, 29), rgb(249, 209, 108), rgb(219, 165, 29));
  box-shadow: 0 0 15px gold, 0 0 30px gold, 0 0 45px gold;
  border: none;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
  transition: 0.1s;
}

.cardInside {
  background: url(Green\ Watercolor\ Abstract\ Texture\ Backdrop\ for\ Photography\ DHP-640\ -\ 1_5x1M.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Brush Script MT", cursive;
  margin: 20px;
  color: whitesmoke;
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: #01889F;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.close-btn:hover {
  background: #01889F;
  color: #ffffff;
}